[report]
omit = 
    */__pycache__/*
    */.pyc
    */.pytest_cache/*
    */.pytest_cache/*
    */tests/__pycache__/*
    */tests/.pytest_cache/*
    */tests/__init__.py
    */tests/models.py
    */tests/mock.py
    */app/__init__.py
    */app/mock.py
  
    */api/*
    */.vscode/*
    */certifi/*
    */chardet/*
    */idna/*
    */requests/*
    */urllib3/*
    */encodings/*
    */hmac.py
    */http/*
    */mimetypes.py 
    */netrc.py
    */stringprep.py 
    */tests/__init__.py  
    */app/models.py 
    */app/__init__.py 
    */env/*
    *//home/travis/virtualenv/*
    */virtualenv/*
    */site/*
    */werkzeug/*
    */jinja2/*
    */flask/*
    */colorama/*
    */click/*
    */contextvars.py
    */decimal.py
    */itsdangerous/*
    */markupsafe/*
    */asyncio.py
    */asyncio/*
    */concurrent.py
    */concurrent/*
    */ctypes.py
    */ctypes/*
    */html.py
    */html/entities.py
    */html/__init__.py
    */multiprocessing/connection.py
    */multiprocessing/util.py 
    */numbers.py
    */uuid.py
    */app.py
    */app/manage.py 
    
show_missing = True