* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: grey;
}
.topnav {
  overflow: hidden;
  background-color:orange;
  color: green;
}
.topnav h1{
    float: left;
    margin: auto;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    background-origin: padding-box;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding:  22px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a:hover {
  background-color: grey;
  color: #ffffff;
}
.topnav a.active {
  background-color: grey;
  color: #ffffff;
}

.main-content {
  margin-bottom: 20px;
  min-height: 80vh;
}

.orders {
  width: 60%;
  margin: auto;
  box-sizing: border-box;
 
}

.orders h2, .orders h6 {
  text-align: center;
  font-size: 32px;
  color: lightgray;
}
.orders .menu {
  border-bottom: 3px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 5px;
  color: lightgray;

}
.order-item {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid #d3d3d3;
}


.weight-range{
  flex: 1;
}

.weight-range  {
  margin: 0;
  height: 80px;
  width: 100px;
}

.order-content {
  flex: 3;
}

.order-item .order-button .button {
  display: inline-block;
  margin-top: auto;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  background:lightgrey;
  border: 1px solid #d3d3d3;
}

.order-item .order-button .button:hover{
  background-color: #ffffff;
  color:#808080;

}  

.order-item .order-button .pending {
  background: #d35400 !important;
  color: #fff;
}

.order-item .order-button .completed {
  background: #27ae60 !important;
  border: 1px solid #27ae60;
  color: #fff;
}

.order-item .order-button .declined {
  background: #c0392b !important;
  border: 1px solid #c0392b;
  color: #fff;
}

.order-item .field {
  margin: 10px;
  margin-bottom: 10PX;
  display: block;
 
}
.order-item label{
  margin: 10px 0 0 10px;
  color: #d3d3d3;
}

#country{
  height: 30px;
  margin: 10px 0 0 10px;
}
.order-item .field input {
  border: 1px solid #7f8c8d;
  padding: 8px;
  width: 90%;
  margin: 8px;
  display: block;
}

.order-item .field select {
  border: 1px solid #7f8c8d;
  padding: 6px;
  width: 90%;
  margin-left: 5px;
  background-color: #ffffff;
}

.order-item .date {
  color: #2c3e50;
  font-size: 12px;
}