* {box-sizing: border-box;}
body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/parcel.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
}
.topnav {
  overflow: hidden;
  background-color:orange;
  color: green;
  padding: 0 100px;
}
.topnav h1{
  float: left;
  padding: 4px;
  color: #ffffff;
  font-size: 20px;
  background-origin: padding-box;
  border-radius: 50%;
  background-color: orange;
  border: 2px solid #ffffff;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding:  22px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a:hover {
  background-color: grey;
  color: #ffffff;
}
.topnav a.active {
  background-color: grey;
  color: #ffffff;
}
.main-content {
  margin-bottom: 20px;
  min-height: 80vh;
}
.orders {
  width: 60%;
  margin: auto;
  box-sizing: border-box;
}
.orders h2, .orders h6 {
  text-align: center;
  font-size: 32px;
  color: lightgray;
}
.orders .menu {
  border-bottom: 3px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 5px;
  color: lightgray;
  margin-top: -30px;
}

.menu .field{
  margin: -13px 0 60px 6px;
  width: 52%;
  height: 30px;
}
.menu P{
  margin-left: 3px;
}

.order-item {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid #d3d3d3;
}


.weight-range{
  flex: 1;
}

.weight-range  {
  margin: 0;
  height: 80px;
  width: 100px;
}

.order-content {
  flex: 3;
}

.order-item .order-button .button {
display: block;
margin-top: auto;
padding: 5px;
color: #ffffff;
font-weight: bold;
font-size: 12px;
cursor: pointer;
background:lightgrey;
border: 1px solid #d3d3d3;
}

.order-item .order-button .button:hover{
  background-color: #ffffff;
  color:#808080;
}  

.order-item .field {
  margin: 10px;
  margin-bottom: 10PX;
  display: block;
}

.order-item label{
margin: 10px 0 0 10px;
color: #d3d3d3;
}

#country{
  height: 30px;
  margin: 10px 0 0 10px;
}
.order-item .field input {
border: 1px solid #7f8c8d;
padding: 8px;
width: 52%;
margin: 8px;
display: block;
}

.order-item .field select {
border: 1px solid #7f8c8d;
padding: 6px;
width: 52%;
margin-left: 9px;
background-color: #ffffff;
}

.order-item .date {
  color: #2c3e50;
  font-size: 12px;
}

a.button {
font: bold 11px Arial;
text-decoration: none;
background-color: #EEEEEE;
color: #333333;
padding: 2px 6px 2px 6px;
border-top: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
display: inline-block;
margin: 10px 0px 10px 19px;
width: 10%;
}
.order-content .container{
  margin: 10px;
}

.radio-buttons  {
  margin: 10px;
}

.price{
  margin-top: 80px;
  margin-bottom: 140px;
  padding: 3px;
  background-color: white;
  width: 10%;
  margin-left: -50PX;}

.price{
  background-color: orange;
  height: 20%;
  width: 10%;
  margin: 110px 120px 0 -150px;
  border-radius: 50%;
  padding: 20px;
}
.price label{
  margin: auto;
  font-weight: bold;
  color: white;
}
.price span{
  color: white;
}

@media screen and (max-width: 600px) {
  .menu .field{
    display: block;
    margin-bottom: 100px;
    margin-top: 6px;
    width: 80%;
    margin-left: 4px;

  }
  .price{
    margin: 120px -50px 10px -80px;
    padding: 30px; 
  }
  .order-item .field{
    width: 100%;
  }
  .price label, .price span{
    margin: -25px;
  }
  .topnav a{
    display: block;
  }

  
}
  