* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: grey;
}
.topnav {
  overflow: hidden;
  background-color:orange;
  color: green;
}
.topnav h1{
    float: left;
    margin: auto;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    background-origin: padding-box;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding:  22px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a:hover {
  background-color: grey;
  color: #ffffff;
}
.topnav a.active {
  background-color: grey;
  color: #ffffff;
}

.content {
margin: -35px 100px;
min-height: 80vh;
/* background-color: #ffffff; */
padding: 45px;
}

.content h1, .orders h6 {
text-align: center;
color: #d3d3d3;
}
.orders .m2 {
border-bottom: 3px solid lightgray;
/* padding: 10px; */
margin-bottom: 10px;
/* background-color:  rgb(255, 168, 7); */
color: lightgrey;
text-align: center;
}
.order-item {
margin: 10px 0;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
border-bottom: 2px solid green;
}

.order-image {
flex: 1;
}

.order-image p {
margin: 0;
height: 80px;
width: 100px;
color: #d3d3d3;
}

.content1 {
flex: 3;
}
.content1 {
font-weight: bold;
color: lightgrey;
margin-bottom: 5px;
font-size: 14px;

}
.Cancel-button, .Order-button{
padding: 5px;
color: #ffffff;
font-weight: bold;
font-size: 12px;
cursor: pointer;
}

.order-item .date {
color: green;
font-size: 12px;
}

.delivery {
margin: 10px 0;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
border-bottom: 2px solid lightgray;
}

@media screen and (max-width: 620px) {
.topnav .search-container {
float: none;
}
.topnav a, .topnav input[type=text], .topnav .search-container button {

display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}
.topnav input[type=text] {
border: 1px solid #ccc; 
}
.orders, .orders .button {
display: block;

}
.orders{
float: none;
margin: 0px;
width: auto;
padding: 10px;
}

}

.button {
font: bold 11px Arial;
text-decoration: none;
background-color: #EEEEEE;
color: #333333;
padding: 2px 6px 2px 6px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;

}

  
  